name: Warp Release

on: 
  push: 
    tags: 
      - 'v*.*.*.*'

permissions:
  contents: write

jobs: 
  release: 
    runs-on: ubuntu-latest

    steps:
    # 1. Check out the repository
      - uses: actions/checkout@v2

      # 2. Set up Haskell/Stack
      - uses: haskell-actions/setup@v2
        with:
          ghc-version: 9.6.1
          stack-version: 2.12.0

      # 3. Build your project
      - name: Build warp
        run: stack build --copy-bins

      # 4. Prepare release artifacts
      - name: Prepare release
        run:  |
          mkdir -p release
          cp $(stack path --local-install-root)/bin/warp release/warp
          cp scripts/warp.sh release/warp.sh
          FILENAME="release/${GITHUB_REF##*/}.tar.gz"
          tar -czvf "$FILENAME" -C release warp warp.sh
          echo "RELEASE_FILE=$FILENAME" >> $GITHUB_ENV

      # 5. Create GitHub release and upload tarball
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ env.RELEASE_FILE }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
